@use 'sass:map';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';
@use '../../../style/mixins/font-config.scss';

.button {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: map.get(spaces.$spaces, '1');
  font-weight: 600;
  transition: box-shadow 0.15s ease-out;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background: transparent;
    color: map.get(colors.$colors, 'grey-light');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'grey-light');
  }

  &--full-primary {
    color: map.get(colors.$colors, 'base-white');
    background: map.get(colors.$colors, 'primary');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'primary');

    &:hover {
      &:not(:disabled) {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'primary');
      }
    }
  }

  &--full-base-white {
    background: map.get(colors.$colors, 'base-white');
    color: map.get(colors.$colors, 'grey');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'base-white');

    &:hover {
      &:not(:disabled) {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'base-white');
      }
    }
  }

  &--outlined-primary {
    background: transparent;
    color: map.get(colors.$colors, 'primary');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'primary');

    &:hover {
      &:not(:disabled) {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'primary');
      }
    }
  }

  &--outlined-base-white {
    background: transparent;
    color: map.get(colors.$colors, 'base-white');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'base-white');

    &:hover {
      &:not(:disabled) {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'base-white');
      }
    }
  }

  &--small {
    @include font-config.small-font-config;
  }

  &__icon {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}
