@use 'sass:map';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';
@use '../../../style/mixins/font-config.scss';

.button {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: map.get(spaces.$spaces, '1');
  font-weight: 600;
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out,
    background 0.2s ease-out;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background: transparent;
    color: map.get(colors.$colors, 'grey-light');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'grey-light');
  }

  &--full-primary {
    color: map.get(colors.$colors, 'base-white');
    background: map.get(colors.$colors, 'primary');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'primary');

    &:not(:disabled) {
      &:active {
        color: rgba(map.get(colors.$colors, 'base-white'), 0.5);
        box-shadow: 0 0 0 1.5px rgba(map.get(colors.$colors, 'primary'), 0.5);
        background: rgba(map.get(colors.$colors, 'primary'), 0.5);

        &:hover {
          color: rgba(map.get(colors.$colors, 'base-white'), 0.5);
          box-shadow: 0 0 0 1.5px rgba(map.get(colors.$colors, 'primary'), 0.5);
          background: rgba(map.get(colors.$colors, 'primary'), 0.5);
        }
      }

      &:hover {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'primary');

        &:active {
          box-shadow: 0 0 0 2.5px rgba(map.get(colors.$colors, 'primary'), 0.5);
        }
      }
    }
  }

  &--full-base-white {
    background: map.get(colors.$colors, 'base-white');
    color: map.get(colors.$colors, 'grey');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'base-white');

    &:not(:disabled) {
      &:active {
        background: rgba(map.get(colors.$colors, 'base-white'), 0.5);
        color: rgba(map.get(colors.$colors, 'grey'), 0.5);
        box-shadow: 0 0 0 1.5px rgba(map.get(colors.$colors, 'base-white'), 0.5);
      }

      &:hover {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'base-white');

        &:active {
          box-shadow: 0 0 0 2.5px
            rgba(map.get(colors.$colors, 'base-white'), 0.5);
        }
      }
    }
  }

  &--outlined-primary {
    background: transparent;
    color: map.get(colors.$colors, 'primary');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'primary');

    &:not(:disabled) {
      &:active {
        color: rgba(map.get(colors.$colors, 'primary'), 0.5);
        box-shadow: 0 0 0 1.5px rgba(map.get(colors.$colors, 'primary'), 0.5);
      }

      &:hover {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'primary');

        &:active {
          box-shadow: 0 0 0 2.5px rgba(map.get(colors.$colors, 'primary'), 0.5);
        }
      }
    }
  }

  &--outlined-base-white {
    background: transparent;
    color: map.get(colors.$colors, 'base-white');
    box-shadow: 0 0 0 1.5px map.get(colors.$colors, 'base-white');

    &:not(:disabled) {
      &:active {
        color: rgba(map.get(colors.$colors, 'base-white'), 0.5);
        box-shadow: 0 0 0 1.5px rgba(map.get(colors.$colors, 'base-white'), 0.5);
      }

      &:hover {
        box-shadow: 0 0 0 2.5px map.get(colors.$colors, 'base-white');

        &:active {
          box-shadow: 0 0 0 2.5px
            rgba(map.get(colors.$colors, 'base-white'), 0.5);
        }
      }
    }
  }

  &--small {
    @include font-config.small-font-config;
  }

  &__icon {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}
