@use 'sass:map';
@use '../../../../style/mixins/input.scss';
@use '../../../../style/variables/colors.scss';

.select-input {
  &__label {
    @include input.label;
  }

  &__wrapper {
    position: relative;
  }

  &__select {
    @include input.input;
    cursor: pointer;
    border-radius: 0;

    &--placeholder {
      color: map.get(colors.$colors, 'grey-light');
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;

    &--disabled {
      color: map.get(colors.$colors, 'grey-light');
    }
  }
}
