@use 'sass:map';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';

.accordion {
  background: map.get(colors.$colors, 'grey');
  border-radius: map.get(spaces.$spaces, '1');
  transform: scaleY(1);
  overflow: hidden;
  transform-origin: top left;
  transition: transform 0.2s linear;
  will-change: transform;

  &__wrapper {
    transform: scaleY(1);
    transform-origin: top left;
    transition: transform 0.2s 0s linear;
    will-change: transform;
  }

  &__title {
    cursor: pointer;
  }
}
