@use 'sass:map';
@use 'sass:math';
@use '../../../../style/variables/colors.scss';
@use '../../../../style/variables/spaces.scss';

.toggle {
  &__label {
    cursor: pointer;
  }

  &__wrapper {
    border-radius: 11px;
    padding: math.div(map.get(spaces.$spaces, '1'), 4);
    padding-right: 18px;
    background: map.get(colors.$colors, 'grey-light');
    cursor: pointer;
    transition: background 0.2s ease-out;

    &--checked {
      background: map.get(colors.$colors, 'primary');
    }
  }

  &__button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: map.get(colors.$colors, 'base-white');
    transition: transform 0.2s ease-out;

    &--checked {
      transform: translateX(16px);
    }
  }
}
