@use 'sass:map';
@use '../../../style/variables/colors.scss';

.container {
  border-radius: 8px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  border-radius: 8px;
  width: 100%;
  position: relative;
  background: map.get(colors.$colors, 'grey-light');
  height: 24px;
  overflow: hidden;
  flex:0.99;
}

.progress-bar-active {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 200ms ease-out;
  background: map.get(colors.$colors, 'primary');
}