@use 'sass:map';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';
@use '../../../style/mixins/font-config.scss';

.tag {
  color: map.get(colors.$colors, 'base-white');
  border-radius: map.get(spaces.$spaces, '1');

  padding: map.get(spaces.$spaces, '1') map.get(spaces.$spaces, '2');

  &--base-white {
    color: map.get(colors.$colors, 'grey-dark');
    background: map.get(colors.$colors, 'base-white');
  }

  &--base-red {
    background: map.get(colors.$colors, 'base-red');
  }

  &--base-green {
    background: map.get(colors.$colors, 'base-green');
  }

  &--http-post {
    background: map.get(colors.$colors, 'http-post');
  }

  &--http-get {
    background: map.get(colors.$colors, 'http-get');
  }

  &--http-put {
    background: map.get(colors.$colors, 'http-put');
  }

  &--http-patch {
    background: map.get(colors.$colors, 'http-patch');
  }

  &--http-delete {
    background: map.get(colors.$colors, 'http-delete');
  }
}
