@use 'sass:map';
@use 'sass:math';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';
@use '../../../style/mixins/font-config.scss';

.tooltip {
  position: relative;

  &__icon {
    cursor: pointer;

    &:hover {
      & + .tooltip__popup {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }

  &__popup {
    position: absolute;
    bottom: calc(
      100% + map.get(spaces.$spaces, '2') + map.get(spaces.$spaces, '1')
    );
    left: 50%;
    transform: translate(-50%, math.div(map.get(spaces.$spaces, '1'), 2));
    opacity: 0;
    background: map.get(colors.$colors, 'base-white');
    border-radius: map.get(spaces.$spaces, '1');
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -#{map.get(spaces.$spaces, '1')};
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      height: 0;
      width: 0;
      border-top: 8px solid map.get(colors.$colors, 'base-white');
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}
