@use 'sass:map';
@use '../../../style/variables/colors.scss';

.main-layout {
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    flex: 0 0 300px;
  }

  &__content {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
  }
}
