@use 'sass:map';
@use '../variables/spaces.scss';

@mixin spinningButton {
  svg {
    line {
      transition: transform 0.2s ease-out;
      transform-origin: 50% 50%;
      transform: rotate(0deg);
    }
  }

  &:hover {
    &:not(:disabled) {
      svg {
        line {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@mixin slideIn {
  animation: slideIn 0.8s ease-out forwards;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-#{map.get(spaces.$spaces, '1')});
    }
    50% {
      transform: translateX(0);
    }
    100% {
      opacity: 1;
    }
  }
}
