@use 'sass:map';
@use '../variables/spaces.scss';

@mixin spinningButton {
  svg {
    line {
      transition: transform 0.2s ease-out;
      transform-origin: 50% 50%;
      transform: rotate(0deg);
    }
  }

  &:hover {
    &:not(:disabled) {
      svg {
        line {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@mixin slideIn {
  animation: slideIn 0.8s ease-out forwards;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-#{map.get(spaces.$spaces, '1')});
    }
    50% {
      transform: translateX(0);
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin jumpingDots {
  span {
    display: inline-block;
  }

  span:nth-of-type(1) {
    animation: jumpingDots 1s ease-out infinite;
  }

  span:nth-of-type(2) {
    animation: jumpingDots 1s 0.25s ease-out infinite;
  }

  span:nth-of-type(3) {
    animation: jumpingDots 1s 0.5s ease-out infinite;
  }

  @keyframes jumpingDots {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-#{map.get(spaces.$spaces, '1')});
    }
    100% {
      transform: translateY(0);
    }
  }
}
