$base-font: 16px;

$font-sizes: (
  'small': 0.8rem,
  'base': 1rem,
  'h4': 1.25rem,
  'h3': 1.5625rem,
  'h2': 1.953125rem,
  'h1': 2.44125rem,
);

$line-heights: (
  'small': 1.2rem,
  'base': 1.5rem,
  'h4': 1.5rem,
  'h3': 1.875rem,
  'h2': 2.34375rem,
  'h1': 2.925rem,
);
