@use 'sass:map';
@use '../../../../style/variables/colors.scss';
@use '../../../../style/variables/spaces.scss';

.textarea {
  background: transparent;
  border: 1px solid map.get(colors.$colors, 'grey-light');
  border-radius: map.get(spaces.$spaces, '1');
  padding: map.get(spaces.$spaces, '2');
  outline: none;
  color: map.get(colors.$colors, 'base-white');
  resize: none;
  transition: border-color 0.2s ease-out;

  &:hover,
  &:focus {
    border-color: map.get(colors.$colors, 'base-white');
  }

  &--horizontal {
    resize: horizontal;
  }

  &--vertical {
    resize: vertical;
  }

  &--both {
    resize: both;
  }
}
