@use 'sass:map';
@use '../../../style/variables/colors.scss';
@use '../../../style/variables/spaces.scss';
@use '../../../style/mixins/font-config.scss';

.tab {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  padding: map.get(spaces.$spaces, '1');
  display: inline-flex;
  transition: background-color 0.15s ease-out;
  margin-right: map.get(spaces.$spaces, '3');

  border-bottom: 2px solid map.get(colors.$colors, 'base-white');
  color: map.get(colors.$colors, 'base-white');

  &:hover {
    background-color: map.get(colors.$colors, 'grey-light');
  }

  &--selected {
    border-bottom: 2px map.get(colors.$colors, 'primary') solid;
    color: map.get(colors.$colors, 'primary');
  }

  &--disabled {
    border-bottom: 2px map.get(colors.$colors, 'grey-light') solid;
    color: map.get(colors.$colors, 'grey-light');
  }
}
